@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*FONDO HEADER*/
.colorFondoAzul {
  color: #020202;
  background-color: #020202;
}
.colorFondoAzul .colorb {
  color: white;
}

.nat {
  font-family: "regular";
}

.flink {
  font-family: "italic";
}

/*fondo main*/
.fondomain {
  background-color: #020202;
  color: white;
}

/*videos index*/
.videos {
  width: 50vh;
  height: 500px;
  position: relative;
  left: 200px;
  margin-top: 10px;
}

/*Imagenes del index*/
.img1 {
  margin: 10px;
}

/*TITULOS DE LAS PAGINAS*/
.titulotatuajes, .titulosugerencias, .tituloindex, .titulocontacto {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  font-family: "bold";
}

/*fuentes de index*/
.titulosprincipal {
  font-family: "italic";
}

.card-text {
  font-family: "regular";
}

.nat {
  font-family: "regular";
}

.flink {
  font-family: "italic";
}

.parrafos1 {
  font-family: "regular";
}

.parrafos2 {
  font-family: "italic";
}

/*pag sugerencias*/
.subtsugerencias {
  font-family: "italic";
}

.itens {
  font-family: "regular";
}

/*estudio*/
.parrafo3 {
  font-family: "regular";
}

/*FORMULARIO TURNO*/
.containerformulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.containerformulario form input, .containerformulario form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
}
.containerformulario form button {
  border: #333 #111B1C;
  color: #555;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.containerformulario form button:hover {
  background-color: #555;
}

.containerformulario {
  background-image: linear-gradient(to right top, #051937, #282a64, #5f348b, #a231a6, #eb12b3);
  margin-bottom: 2%;
  color: #020202;
}

.fuenteformulario {
  font-family: "regular";
}

.h1formulario {
  font-family: "italic";
}

.fx {
  font-family: "regular";
}

.mapa {
  background-image: linear-gradient(to right top, #051937, #282a64, #5f348b, #a231a6, #eb12b3);
  margin-bottom: 2%;
  color: #020202;
  display: flex;
}

/*Margen sugerencia parrafo del h1*/
.P-sugerencias {
  margin: 10px;
  font-family: "regular";
}

/*main 404*/
.contenedor404 {
  display: flex;
  align-items: center;
}

.fuente404 {
  font-family: "bold";
}

/*fondo footer*/
.colorFondoFooter {
  background-color: #020202;
  /*footer color y tamaño de los iconos*/
}
.colorFondoFooter .colorletra {
  color: white;
}
.colorFondoFooter .colorredes {
  color: white;
  line-height: 25px;
  margin-right: 25px;
}

.fuentefooter {
  font-family: "italic";
}

/* body*/
.contenedorbody {
  overflow-x: hidden;
}

/*fondo body*/
.fondobody {
  background-color: rgb(5, 5, 5);
}

/*fondo body 404*/
.fondobody404 {
  background-color: white;
}

@font-face {
  font-family: "italic";
  src: url(../assets/font/Merriweather-Italic.ttf);
}
@font-face {
  font-family: "regular";
  src: url(../assets/font/Merriweather-LightItalic.ttf);
}
@font-face {
  font-family: "bold";
  src: url(../assets/font/Merriweather-BoldItalic.ttf);
}
@font-face {
  font-family: "light";
  src: url(../assets/font/Merriweather-Light.ttf);
}/*# sourceMappingURL=estilos.css.map */