/* body*/

.contenedorbody{
    overflow-x: hidden;
       
  }

  /*fondo body*/
.fondobody{
  background-color: rgb(5, 5, 5);

}

/*fondo body 404*/
  .fondobody404{
    background-color: map-get($mapa-colores, color-blanco )
  }
 