/*fondo footer*/
.colorFondoFooter{
    background-color:  map-get($mapa-colores, color-fondooscuro );
    .colorletra{
        color: map-get($mapa-colores , color-blanco );
        
    }
    
/*footer color y tamaño de los iconos*/
    .colorredes{
        color: map-get($mapa-colores, color-blanco  );
        line-height:25px;
         margin-right: 25px;
    
    }
}

.fuentefooter{
    font-family: $font-principal;
  }
  






