
@font-face {
    font-family: "italic";
    src: url(../assets/font/Merriweather-Italic.ttf);
}

@font-face{
  font-family: "regular";
  src: url(../assets/font/Merriweather-LightItalic.ttf);

}

@font-face{
  font-family:"bold";
  src: url(../assets/font/Merriweather-BoldItalic.ttf);
}

@font-face{
  font-family: "light";
  src: url(../assets/font/Merriweather-Light.ttf);
}
