  
   
   /*FONDO HEADER*/
.colorFondoAzul{
    color: map-get($mapa-colores, color-fondooscuro);
    background-color: map-get($mapa-colores, color-fondooscuro );
    .colorb{
        color: map-get($mapa-colores , color-blanco );
    }

}

.nat{
    font-family: $font-principal2;
  }
  
.flink{
    font-family:$font-principal;
  }
  