@import "variables.scss"; 
@import "reset.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";

/*fondo main*/
.fondomain{
    background-color: rgb(5, 5, 5);
    color: rgb(248, 242, 242);
}

/*footer*/
.colorredes{
    color: map-get($mapa-colores, color-blanco );
   
    line-height: 6%;
    margin-right: 6%; 
    }

/*mapa*/
.mapa{
  background-color: rgb(79, 31, 143);
    color: black;
   margin-bottom: 5%;
 
    display: flex;
    justify-content:flex-start;
     }

/*videos index*/
.videos{
    width: 50vh;
    height: 500px;
    position: relative;
    left:  200px;
    margin-top: 10px ;
       }

       .img1{
        
         margin: 5px;
      
      }

/*pag tatuajes*/

/*.videosTatuajes{
    width: 800px;
    height: 500px;
    position: relative;
    left:  150px;
    margin-top: 20px ;
  }*/

  
  .imgestudio{
   margin-left: 800px;

  }
/* body*/

.contenedorbody{
    overflow-x: hidden;
       
  }

  